/* Custom styles for the home page */
:root {
    --color-accent: #4285F4;
    --color-accentdark:  #3367D6;
    --color-bg: #E8F0FE;
    --color-bgcard: #F1F8FF;
    --color-border: #CDE2FF;
    --color-borderdark: #AECBFA;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--color-bg)
}

.load_dataset {
    display: flex;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.load_title {
    font-size: 30px;
    margin-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.load_form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

form {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 8px;
    border: 3px solid var(--color-border);
}

form label {
    display: block;
    font-weight: bold;
    margin-bottom: 8px;
    color: #333;
}

form input[type="text"],
form input[type="email"],
form input[type="password"],
form input[type="file"],
form select,
form textarea {
    width: 100%; 
    padding: 12px 15px;
    margin-bottom: 20px;
    border: 2px solid var(--color-borderdark);
    border-radius: 4px;
    font-size: 16px;
}

/* Focus state for inputs */
form input[type="text"]:focus,
form input[type="email"]:focus,
form input[type="password"]:focus,
form select:focus,
form textarea:focus {
    border-color: var(--color-border);
    outline: none;
}

button {
    background-color: var(--color-accent);
    color: white;
    border: none;
    padding: 12px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 10px;
    width: 100%;
}

button:hover {
    background-color: var(--color-accentdark);
}

/* Association rules */ 

h1 {
    font-size: 36px;
    color: var(--color-accent);
    font-weight: bold;
}

h2 {
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
}

h3 {
    margin-bottom: 40px;
}

.case_title {
    padding: 20px 0;
}

.table-heading {
    font-size: 24px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 20px;
}

.association-form form {
    background-color: var(--color-bgcard);
    border: none;
    box-shadow: 0 4px 7px rgba(0, 0, 0, 0.1);
}

.scrollable-container {
    max-height: 450px;
    overflow-y: auto;
    padding-right: 15px;
    margin-left: 10px;
    border-top: 2px solid transparent;
}

.scrollable-container::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

.scrollable-container::-webkit-scrollbar-track {
    background: var(--color-bgcard);
    border-radius: 4px;
}

.scrollable-container::-webkit-scrollbar-thumb {
    background: var(--color-accent);
    border-radius: 4px;
}

.scrollable-container::-webkit-scrollbar-thumb:hover {
    background: var(--color-accentdark);
}

.list-group-item {
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 8px;
    background-color: var(--color-bgcard);
    box-shadow: 0 4px 7px rgba(0, 0, 0, 0.1);
}


ul.list-group li strong {
    color: var(--color-accent);
}

.google-blue {
    background-color: #4285F4;
    color: white;
}

.google-blue:hover {
    background-color: #3367D6;
}
